.Sidebar {
    background-color: var(--light-bg);
    width: 220px;
    height: 100%;
    border-radius: 32px;
    overflow: hidden;
    position: relative;
    transition: 0.5s width ease;

    .appLogo {
        padding-top: 20px;
        transition: 0.5s all ease;
    }

    .items {
        margin-top: 40px;
    }

    .collapseBtn {
        position: absolute;
        display: flex;
        height: 32px;
        width: 32px;
        right: 0;
        top: 50%;
        fill: var(--text);
        transition: 0.3s all ease;
        transform: rotate(-180deg);
        cursor: pointer;
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        padding: 0 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: 0.5s all ease;
    }

    .themeSwitcher {
        color: var(--text);
        border: 1px solid var(--text);
        background-color: var(--icon);
        width: 30px;
        cursor: pointer;
    }

    .lang {
        color: var(--icon);
        font: var(--font-title-m);
    }
}

.collapsed {
    width: 50px;

    .collapseBtn {
        transform: rotate(0deg);
    }

    .switchers {
        padding: 0 10px;
    }
}
